<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="goodsTypeDao" class="com.dao.impl.GoodsTypeDaoImpl"/>
    <bean id="goodsDao" class="com.dao.impl.GoodsDaoImpl"/>

    <bean id="goodsService" class="com.service.impl.GoodsTypeServiceImpl">
        <property name="goodsDao" ref="goodsDao"/>
        <property name="goodsTypeDao" ref="goodsTypeDao"/>
    </bean>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/practice_db"/>
        <property name="password" value="root"/>
        <property name="username" value="root"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="sAdvice" >
        <tx:attributes>
            <tx:method name="deleteType" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.service..*(..))"/>
        <aop:advisor advice-ref="sAdvice" pointcut-ref="pointcut"/>
    </aop:config>
</beans>