<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserinfDao">
    <resultMap id="userinfoResultMap" type="com.entity.Userinfo">
        <id property="id" column="id"/>
        <result property="sysUsername" column="sys_username"/>
    </resultMap>

    <select id="queryUserinfo" resultMap="userinfoResultMap">
        select id,sys_username from userinfo order by id
    </select>

    <insert id="insert" parameterType="string">
        insert into userinfo(sys_username) values(#{name})
    </insert>

    <delete id="delete" >
        delete from userinfo where id = #{id}
    </delete>

</mapper>